<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/proindex.css">
  
</head>
<body>
    <div class="admin-container">

<h2>Products Admin Page</h2>

<a class="add-btn" href="/products/add">Add Product</a>

<ol class="product-list">
<% products.forEach(product => { %>
    <li class="product-item">
        <span><%= product.name %></span>
        <span><%= product.desc %></span>
        <span>₹<%= product.price %></span>
        <span><%= product.imageUrl %></span>

        <a class="edit-btn" href="/products/<%= product._id %>/edit">Edit</a>
        <a class="delete-btn" href="/products/<%= product._id %>/delete">Delete</a>
    </li>
<% }) %>
</ol>

</div>

</body>
</html>